* {
  margin: 0;
  padding: 0;
}

body {
  background:
    linear-gradient(
      90deg,
      rgba(0, 16, 255, 1) 0%,
      rgb(243, 245, 243) 100%
    );
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  background:
    linear-gradient(
      90deg,
      rgb(150, 153, 204) 0%,
      rgb(243, 245, 243) 100%
    );
  padding: 0 0 0 2%;
}

.title {
  color: #fff;
  font-size: 1.6em;
  font-weight: bold;
  margin-right: 35%;
  text-decoration: none;
}

.link {
  color: blueviolet;
  font-size: 1.3em;
  text-decoration: none;
  font-weight: bold;
  margin-right: 8%;
}

.section-one {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 4% auto 0 2%;
}

.section-title {
  color: #fff;
  margin: 1% 0 3% 0;
  font-size: 2em;
}

.textx {
  font-size: 1.1em;
  margin: 0 0 2% 0;
  font-weight: 500;
}

.section-two {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: 4% auto 0 2%;
}

.section-three {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  text-align: center;
  margin: 7% 0 0 0;
  font-weight: bold;
  font-size: 1.3em;
}

.App {
  display: flex;
  width: 65%;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 2px 64px rgba(0, 0, 0, 0.2);
}

.display {
  padding: 3%;
  text-align: right;
  background-color: #858694;
  color: #fff;
}

.numbers {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.btn {
  padding: 10%;
  background-color: #e0e0e0;
}

.zero {
  grid-column: span 2;
  padding: 6%;
}

.oran {
  background-color: #f5913e;
}
